[importlinter]
root_package = crudik

[importlinter:contract:1]
name=Entities doesn't import application, adapters, presentation or bootstrap
type=forbidden
source_modules=
    crudik.entities
forbidden_modules=
    crudik.application
    crudik.adapters
    crudik.presentation
    crudik.bootstrap

[importlinter:contract:2]
name=Application doesn't import adapters, presentation or bootstrap
type=forbidden
source_modules=
    crudik.application
forbidden_modules=
    crudik.adapters
    crudik.presentation
    crudik.bootstrap

[importlinter:contract:3]
name=Adapters doesn't import presentation or bootstrap
type=forbidden
source_modules=
    crudik.adapters
forbidden_modules=
    crudik.presentation
    crudik.bootstrap

[importlinter:contract:4]
name=Presentation doesn't import bootstrap
type=forbidden
source_modules=
    crudik.presentation
forbidden_modules=
    crudik.bootstrap