[importlinter]
root_package = posutochnik

[importlinter:contract:1]
name=Entities doesn't import application, adapters, presentation or bootstrap
type=forbidden
source_modules=
    posutochnik.entities
forbidden_modules=
    posutochnik.application
    posutochnik.adapters
    posutochnik.presentation
    posutochnik.bootstrap

[importlinter:contract:2]
name=Application doesn't import adapters, presentation or bootstrap
type=forbidden
source_modules=
    posutochnik.application
forbidden_modules=
    posutochnik.adapters
    posutochnik.presentation
    posutochnik.bootstrap

[importlinter:contract:3]
name=Adapters doesn't import presentation or bootstrap
type=forbidden
source_modules=
    posutochnik.adapters
forbidden_modules=
    posutochnik.presentation
    posutochnik.bootstrap

[importlinter:contract:4]
name=Presentation doesn't import bootstrap
type=forbidden
source_modules=
    posutochnik.presentation
forbidden_modules=
    posutochnik.bootstrap